[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = {git = "git+https://invent.kde.org/krathul/pynput.git"}
dbus-python = "*"
loguru = "*"
typer = "*"

[dev-packages]

[requires]
python_version = "3.12"
